.capaSessoes  {
    background-color: var(--gray-2);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.tabela2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 200px;
    padding: 40px 1em 80px 1em;
    justify-content: center;
    gap: 40px;
}