:root{
  --purple: #6639DA;
  --blue: #61BAFC;
  --orange: #FDA529;
  --gray: #C2C4D1;
  --white: white;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.bg-purple{background-color: var(--purple);}
.bg-blue{background-color: var(--blue);}
.bg-orange{background-color: var(--orange);}
.bg-gray{background-color: var(--gray);}
.bg-white{background-color: var(--white);}

.t-purple{color: var(--purple);}
.t-blue{color: var(--blue);}
.t-orange{color: var(--orange);}
.t-gray{color: var(--gray);}
.t-white{color: var(--white);}

.hover\:t-purple:hover{color: var(--purple);}
.hover\:t-blue:hover{color: var(--blue);}
.hover\:t-orange:hover{color: var(--orange);}
.hover\:t-gray:hover{color: var(--gray);}
.hover\:t-white:hover{color: var(--white);}


.carousel {
  overflow: hidden;
}
